@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<TranslationSearch>


<main class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm">
        <div class="lh-1">
          <button class="btn btn-primary justify-content-center" id="loader"  type="button" disabled style="display: none">
                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                      Loading...
                  </button>
        </div>
    </div>


    <div class="my-3 p-3 bg-body rounded shadow-sm">
        
    
        <h6 class="border-bottom pb-2 mb-0">Text Convertor App</h6>
        

        <div class="d-flex text-body-secondary pt-3">
            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>
            </svg>
            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                <div class="d-flex justify-content-between">
                    <strong class="text-gray-dark">Search Area</strong>

                    <div class="col-sm-4">
                        <label for="displaytextresult" class="form-label">Enter text to convert</label>
                        <div class="input-group mb-3">

                            <input type="text" id="searchInput" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
                            <button class="btn btn-outline-secondary" type="button" id="searchforleettextbutton"> Search </button>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <label for="displaytextresult" class="form-label">Leet Speak Results</label>
                        <input type="text" class="form-control" id="displaytextresult" readonly>
                    </div>

                </div>

            </div>

        </div>


        <div class="d-flex text-body-secondary pt-3 mb-4">

            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                <div class="d-flex justify-content-between">


                </div>

            </div>
        </div>

        <div class="d-flex text-body-secondary pt-3">
            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>
            </svg>
            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">

                <span class="d-block">Translated List</span>
                <table id="transLatedListTable" class="table mt-5">
                    <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Text)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Translated)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Translation)
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Text)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Translated)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Translation)
                            </td>

                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</main>

@section Scripts {

    <script>
        $(document).ready(function() {
            $('#searchforleettextbutton').click(function() {
            
                var searchInput = $('#searchInput').val();
               if (!searchInput) {
                    Swal.fire({
                        icon: "error",
                        title: "Oops...",
                        text: "Please insert a text to search"
                    });
                    return;
                }
                
              $.ajax({
                  url: 'http://localhost:5225/TranslationSearch/Create',
                  type: 'POST',
                  data: JSON.stringify({text: searchInput}),
                  contentType: "application/json; charset=utf-8",
                // success: function(response) {
                //      
                //       
                //    var translatedText = response.data.contents.translated;
                // 
                //      Swal.fire({
                //        title: "Do you want to save the changes?",
                //        showDenyButton: true,
                //        showCancelButton: true,
                //        confirmButtonText: "Save",
                //        denyButtonText: `Don't save`
                //      }).then((result) => {
                //        /* Read more about isConfirmed, isDenied below */
                //        if (response.data) {
                //          Swal.fire("Saved!", "Translated Text: " + translatedText, "success");
                //       }
                //          $('#loader').hide();
                //      });
                //     
                //     
                // },

                  beforeSend: function() {
                     $('#loader').show();
                  },
                  completed: function(response) {

                    alert(response.data.message)
                        $('#loader').hide();
                  }
             
                });
            });
        });
        
        //data table initialization
        $(document).ready( function () {
             $('#transLatedListTable').DataTable({
                errorMode: 'none'
            });
        } );
        
    </script>

}